################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tnfsd.NET/bin/Debug/net8.0-windows
/Tnfsd.NET/obj/Debug/net8.0-windows
/Tnfsd.NET/obj
/Tnfsd.NET/bin/Release/net8.0-windows/win-x64
